.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
